{% extends "search/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}


{% block title %}
Wheat embryo expression
{% endblock title %}

{% block content %}


<br>

{% if neighbor_inf.exists %}


<div class="container" id="neighbor-table">
        <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>LncRNA gene</th>
                <th>LncRNA transcript</th>
                <th>PartnerRNA gene</th>
                <th>PartnerRNA transcript</th>
                <th>Direction</th>
                <th>Generic type</th>
                <th>Distance</th>
                <th>Subtype</th>
                <th>Location</th>
                <th>PCC</th>
                <th>PCC-Pvalue</th>
            </tr>
        </thead>
        <tbody>
            {% for nb_i in neighbor_inf %}
            <tr>
            <td><a href="{{ nb_i.lncRNA_gene.get_absolute_url }}">{{ nb_i.lncRNA_gene }}</a></td>
            <td><a href="{{ nb_i.lncRNA_transcript.get_absolute_url }}">{{ nb_i.lncRNA_transcript }}</a></td>
            <td><a href="{{ nb_i.partnerRNA_gene.get_absolute_url }}">{{ nb_i.partnerRNA_gene }}</a></td>
            <td><a href="{{ nb_i.lncRNA_transcript.get_absolute_url }}">{{ nb_i.partnerRNA_transcript }}</a></td>
            <td>{{ nb_i.direction }}</td>
            <td>{{ nb_i.generic_type }}</td>
            <td>{{ nb_i.distance }}</td>
            <td>{{ nb_i.subtype }}</td>
            <td>{{ nb_i.location }}</td>
            <td>{{ nb_i.pcc }}</td>
            <td>{{ nb_i.pcc_pva }}</td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <script>
            $(document).ready(function() {
                var table = $('#example').DataTable( {
                    lengthChange: false,
                    buttons: [ 'copy', 'excel', 'csv', ]
                } );
             
                table.buttons().container()
                    .appendTo( $('div.eight.column:eq(0)', table.table().container()) );
            } );
    </script>

<br>

<div class="container"><button id="plot-btn" class="btn btn-outline-success">Line Plot</button></div>

<br>

<div id="highcharts-div" class="border" style="width: 1300px; height: 700px; margin: 0 auto; display: none;">
        <div id="exp-plot-btn" style="width: 1200px; height: 60px; margin: 4px;">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="linear" autocomplete="off" checked> Linear
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="logscale" autocomplete="off"> Log-scale
                    </label>
                </div>
        </div>
        
        <div id="highcharts" style="width: 1200px; height: 600px; margin: 0 auto;">
</div>


</div>
<script>
    var chart;
     $('#plot-btn').click(function () {

        $('#highcharts-div').show()

        $.ajax({
            success: function () {
                
                chart = Highcharts.chart('highcharts', {
                    chart: {
                        type: 'line',
                    },
                    title: {
                        text: 'Gene Expression Across Embryo Development'
                    },
                    xAxis: {
                        categories: {{ tissues| safe }}
                    },
                    yAxis: {
                        title: { text: 'TPM' },
                        min:0.0001,
                        labels: {
                            formatter: function() {
                                if(this.value === 0.0001){
                                    return 0;
                                } else {
                                    return this.value;
                                }
                            }
                        },      
                    },
                    tooltip: {
                        formatter: function(tooltip){
                            if(this.y === 0.0001) {
                                var exp_val =0;
                            } else {
                                var exp_val = this.y;
                            }
                            return 'The TPM value for <b>' + this.x +
                            '</b> is <b>' + exp_val + '</b>';
                        }
                    },  
                    series: {{ exp_values| safe }}
                });


                $('#linear').change(function () {
                    chart.yAxis[0].update({        
                        type: 'linear',
                    });
                });
                
                $('#logscale').change(function () {
                    chart.yAxis[0].update({
                        type: 'logarithmic',  
                    });
                });
            },
        });
     });

</script>


<hr>
<div class="text-center">
    <a href="https://github.com/tderrien/FEELnc">
        <img src='{% static "search/classification_genic.png" %}' class="img-responsive" width="1200px"  alt="classification_genic">
    </a>
    <a href="https://github.com/tderrien/FEELnc">
        <img src='{% static "search/classification_intergenic.png" %}' class="img-responsive" width="1200px"  alt="classification_intergenic">
    </a>
</div>

{% else %}

<div class="alert alert-warning" role="alert">
    Neighbour not found for {{ gene_name }}.
</div>
{% endif %}

{% endblock content %}